.carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scroll-behavior: smooth;
  width:400px;
}

.carousel::-webkit-scrollbar {
  display: none;
} 

.item {
  flex: none;
  height:224px;
  width:400px;
}

.item img {
  width: 100%;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  margin: 5px 10px;
  width: 70px;
}

.button img {
  width: 100%;
}

.button:first-child {
  transform: rotate(180deg);
}
