@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

body {
  margin: 0;
  background-image: linear-gradient(-90deg, #EAEAEA 65%, #2C2C2C 0%)
}

* { 
  font-family: 'Jomolhari', serif;
}
