@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

body {
  margin: 0;
  background-color: #EAEAEA;
  background: url("./images/textura-gesso.jpg") repeat right, linear-gradient(-90deg, #EAEAEA 70%, #2C2C2C 0%);
  /* background-size: contain; */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  width: 10px;
  background-color: #EAEAEA;

}

body::-webkit-scrollbar-thumb {
  background-color: #2C2C2C;
}

* { 
  font-family: 'Jomolhari', serif;
  margin: 0;
}
